div.main_container {
  position: relative;
}

label{
  font-style: italic;
  color: darkred;
}

div#user_inputs {
  float: right;
  position: absolute;
  top: 180px;
  left: 20%;
}

/* These are the bubbles that generate when the user makes a selection */
li.selections:first-child {
  float: left;
}

li.selections:nth-child(2){
  float: left;
}

li.selections:nth-child(3){
  float: right;
}

body {
  background-image: url("http://paperlief.com/images/tuscany-vineyard-wallpaper-2.jpg");
}

.close_button{
  background-color: darkred;
}
