.btn-warning {
    background-color: darkred;
    border: darkred;
    box-shadow: darkred;
    color: darkgrey
}

.navbar-collapse {
    width: 100%;
    background-color: darkred;
    height: 100px;
    width: 100%;
    border: 5px solid darkgoldenrod;
    color: darkgrey;

}

.navbar{
    width: 100%;
    background-color: darkred;
}

.form-inline-right{
    float: right;
    width: 80%;
    text-align: right;

}
 .nav_p{
     font-size: 20px;
     padding-left: 5px;
     
 }

 h1 {
     color: darkgrey;
     font-family: 'Philosopher', sans-serif;

 }

