body{
  font-family: 'Philosopher', sans-serif;
  padding: 10px;
}
.carousel {
    margin-top: 20px;
    
  }

p{
  align-content: center;
  margin-top: 20px;
  color: darkred;
  font-style: italic
}
  