div.user_card {
  width: 16rem;
  height: 16rem;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 50%;
}

img.user_selection {
  margin-top: 20px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

p.card-text {
  text-align: center;
}